# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/macos,dotnetcore,latex
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,dotnetcore,latex

### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules